.card-basket {
	display: flex;
	justify-content: space-between;
	height: 122px;
	column-gap: 90px;
	align-items: center;
	transition: all .3s ease;
	cursor: pointer;
}

.cards {
	margin-bottom: 35px;
}

.card-basket img {
	height: 122px;
}

.card-basket:hover {
	color: #D58C51;
}

.card-basket__name {
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
}

.card-basket__right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 15px;

}

.card-basket__price {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #D58C51;
	padding-right: 15px;
}

